      @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
  }
  @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
  }
  @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans/OpenSans-Light.ttf);
  }
  @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans/OpenSans-Medium.ttf);
  }
  @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 .container{
  max-width: 1250px;
  width:100%;
  padding: 0 30px;
  margin: 0 auto;
}
/*---=========== Topbar section =================*/
 .topbar_section{
  background-color: #173a69;
  padding: 15px 0;
 }
 


 .topbar_parrent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .email_phone ul li a{
    color: #ffffff;
  }
  .topbar_section .email_phone ul{
    display: flex;
  }
  .topbar_section .email_phone li{
    list-style: none;
    margin-right:50px; 
  }
  .topbar_section .email_phone ul li{
    color:#fff;
    margin-left:5px;
}
.topbar_section .email_phone ul li:hover{
color: rgb(24, 238, 4);
}
.topbar_section .email_phone ul li a:hover{
  background: #3498db;
}
.email_phone {
  color: #fff;
}
  .topbar_section .email_phone li a{
    text-decoration: none;
    color:#ffffff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 8px;
}

.topbar_section .socail_icon ul{
  display: flex;
  list-style: none;
  height: 13px; 
}

.topbar_section .socail_icon ul li a{
  padding: 13px 14px;
  color: #ffffff; 
 
}

.topbar_section .socail_icon ul a:hover{
  background:#020e52;
  color: red;
}

/*============================== header section =======================================*/


.heder_section {
  padding: 12px 0;
}
.heder_section .heder_parrent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heder_section .heder_parrent .menue ul {
display: flex;
list-style: none;
}
.heder_section .heder_parrent .menue ul li{
  padding: 35px 30px;
}
.heder_section .heder_parrent .menue ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #0c1f38;
  position: relative;
}
.heder_section .heder_parrent .menue ul li a:hover{
  color: rgba(123, 46, 224, 0.432);
}
.heder_section .heder_parrent .menue ul li a::after{
content: "";
position: absolute;
height: 4px;
width: 0%;
background:#010101;
margin-top: 60px;
left: 0;
transition: .5s;
}
.heder_section .heder_parrent .menue ul li a:hover::after{
width: 100%;
background:#000000;
}
.burger-icon{
  display: none;
}

/*--============================ banner section ===================================*/
.banner_section{
  background: url("../img/banner-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 163px 0;
  background-size: 100% 100% ;
  position: relative; 
  /* margin-top: -29px; */
}
.banner_section::after{
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100% ;
  width: 100%;
  height: 100%;
  background: url(../img/overlayv03.png);
  top: 0;
  left: 0;
  opacity: .1;
}
.banner_section .banner_parrent{
  display: flex;
  justify-content: right;
}
.banner_section .emty_banner{
  width: 57%;
}
.banner_section .banner_content{
width: 43%;
}

.banner_section h5{
font-weight: 800;
font-size: 17px;
color: #010101;
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
margin-left: -25px;
}

.banner_section h1{
font-weight: 800;
font-size: 60px;
color: #010101;
text-transform: uppercase;
margin-left: -25px;
font-family: 'Open Sans', sans-serif;
}

.banner_section p{
font-weight: 400;
font-size: 14px;
color: #010101;
max-width: 400px;
margin-left: -25px;
}
.banner_section .banner_content .banner_btn a{
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  margin-top: 30px;
  display: inline-block;
}

.banner_section .banner_content .banner_btn .btn_1{
background: #173a69;
padding: 15px 25px;
margin:15px;
text-transform: uppercase;
transition: 2s;
}  
.banner_section .banner_content .banner_btn .btn_2{
border: 1px solid #173a69;
color:  #173a69;
padding:15px 25px;
text-transform: uppercase; 
}

/*=============== Icon ==================*/

.icon_section .heding h2{
font-size: 30px;
text-align: center;
margin-top: 80px;
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
margin-bottom: 130px;

}

.icon_section .rotted {
  margin-top: -91px;
  width: 10px;
  height: 10px;
  background: #173a69;
  transform:rotate(45deg);
  margin: 0 auto;
  margin-top: -38px;
  margin-top: -90px;
}
.icon_section .rotted::after{
content: "";
position: absolute;
height: 1px;
width: 92px;
background:#173a69;
transform: rotate(-45deg);
top: -35px;
left: -1px;
}
.icon_section .befor {
  text-align: center;
  margin-top: -18px;
  transform: translate( -61px);
  color: #173a69;
}

.icon_section .icon_parrent{
display: flex;
justify-content: space-around;
text-align: center;
margin-top: 92px;
}

.icon_section .icon_parrent h5{
font-weight: 300;
font-size: 16px;
color: #173a69;
font-family: 'Open Sans', sans-serif;
max-width: 400px;
margin-top: 35px;
word-spacing: 4px;   
}
/*--============  About  section ===============*/
.about_section{
  background: url("../img/about-background-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  height: 520px;
  margin:143px 0;

}
 .about_section .about_parrent{
 display: flex;
 align-items: center ;
}
.about_section p{
  max-width: 553px;
  font-family: 'Open Sans', sans-serif;
  font-weight:300px;
  font-size: 15px;
  padding-top: 15px;
}
.about_section .about_content{
  margin-left: 40px;
}
.rectangle .sssss {
  align-items: center;
}
.sssss{
  margin-left: 25px;
  margin-top: -26px

}

.about_content h2{
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
/*--------------------------------------------*/
.ractangle-section{
margin-top: -50px;
}
.ractangle-contennt{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 10px 0;
  font-size: 28px;
  padding: 0 10px;
}
.ractangle-section .ractangle-parrent{
  display: flex;
  justify-content: center;
}
.ractangle-section .ractangle-parrent .logo-area{
  margin-top: 15px;
  padding: 0 7px;
}
/*=============== Gallery section ================*/
.gallary-section{
  padding: 30px 0;
}

.gallary-section .gallary-parrent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.gallary-section .gallary-parrent .grid-item img{
  width: 100%;
}
.gallary-section .gallary-parrent .grid-item{
  position: relative;
}
.gallary-section .gallary-parrent .hover-content{
  text-align: center;
}
.gallary-section .grid-item h3, .gallary-section .grid-item p, .gallary-section .grid-item span{
  color: #ffffff;
  font-size: 30px;
}
.gallary-section .grid-item ::after{
  content: "";
  position: absolute;
  background: rgba(0,0,0,.7);
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.gallary-section .grid-item:hover::after{
 opacity: 1;
}
.gallary-section .hover-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
}
.gallary-section .grid-item:hover .hover-content{
  opacity: 0.5;
  background: #000000;
}

/*===================== batton ======================*/
.Batton_section{
text-align: center;
}
.Batton_parrent a{
  color: #fff;
	  text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background:#173a69;
    padding: 15px 25px 12px 25px;
    margin: 50px 40px 50px 20px;
    display: inline-block;
   text-transform: uppercase;
	  transition:1s;
    position: relative;
}
.Batton_parrent a:hover{
  color:#fff;
}
.Batton_parrent a:hover{
  background: #b4eee99a;
  color: #000000;
}

/*-----================= address section =========================*/
.address_section{
  background: #173a69;
  width:100%;
  padding: 60px 0;
}
.address-parrent{
  display: flex;
  justify-content: center;
 text-align: center;
}
.address{
  font-size: x-large;
  color: #fff;
}
.paragraph{
  margin-left: 6px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 27px;
  color: #fff;
}
/*============================ Logo =================================*/
.logo{
  margin-left:465px;
  margin-top: 76px;
}
.logo img{
  width: 270px;
}
/*============================ Icon section ==========================*/
.Icon_parrent .icon {
  margin-left: 500px;
   margin-top: 30px;
   width: 200px;
}
/*---========================== futter section ============================*/
.copy_section {
 width: 100%;
 height: 77px;
 background: #000000;
 margin-top: 70px;
}
.copy_section .footer p{
color: #fff;
text-align: center;
padding: 30px;
text-decoration: none;
}

/*===============responsive design==========================*/
@media only screen and (max-width: 1200px){
  .about_section .about_parrent {
     display:unset;
     align-items:unset;
}
.about_section {
   height: unset; 
}
.gallery_section .gallery_parrent {
  grid-template-columns: 1fr  1fr;
  text-align: center;
}
.logo {
  margin-left:unset;
  text-align: center;
}
.Icon_parrent .icon {
   margin-left:unset;
  margin: 0 auto;
}
.about_section .about_parrent .img-about img {
  width: 100%;
  height: 409px;
}
.about_content h2 {
  padding: 21px 0;
}
.sssss {
  margin-top: -30px;
}
}
@media only screen and (max-width: 1024px){
  .gallary-section .gallary-parrent {
    grid-template-columns: 1fr  1fr;
    column-gap: 14px;
    row-gap: 14px;
}
  .heder_section .heder_parrent .menue ul li {
    padding: 35px 16px;
}
.banner_section .banner_content {
  width: 100%;
  text-align: center;
}
.banner_section p {
  font-size: 14px;
  max-width: 380px;
  margin-left:unset;
  margin: 0 auto;
}
.banner_section {
  padding: 133px 0;
}
.banner_section h5 {
  font-size: 15px;
   margin-left:unset;
}
.banner_section h1 {
  font-size: 50px;
   margin-left:unset
}
.address {
  font-size:unset;
}
.icon_section .heding h2 {
  font-size: 22px;
}
.icon_section .befor {
  margin-top: -21px;
  transform: translate( -60px);
}
}
@media only screen and (max-width: 767px){

  .gallary-section .gallary-parrent {
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
  .icon_section .icon_parrent {
   display:unset;
}
.icon_section .heding{
  margin-bottom: 95px;
}
.icon_section .icon_parrent h5 {
  margin: 0 auto;
  padding: 30px 0;
  font-size: 18px;
}
.icon_section .icon_parrent .icon_item img{
  height: 150px;
}
.banner_section {
  padding: 88px 0;
}
.gallery_section .gallery_parrent {
  grid-template-columns: 1fr;
}
.gallery_section .gallery_parrent .grid_item img{
  width: 100%;
  height: 342px;
}
.burger-icon{
  display: block;
}
.heder_section .heder_parrent .menue ul {
  display: none;
}
.address-parrent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
}
@media only screen and (max-width: 610px){
.about_section .about_parrent .content-div {
  max-width: 337px;
}
.topbar_section .email_phone ul {
  display:unset;
}
.topbar_section .email_phone ul li {
   padding:unset;
  padding: 5px 0;
  margin-left:unset;
}
.paragraph {
  font-size: 24px;
}
}

